<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/list.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h5><%= title %></h5>
    <div id="main"></div>
    <br /><br />
    <a href="/">홈으로 이동</a>
    <!-- <script id="userData" type="application/json">
      <%- JSON.stringify(userinfo) %>
    </script> -->
  </body>

  <script src="/js/list.js"></script>
</html>
