<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/search.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h5><%= title %></h5>
    <div id="main"></div>
    <script id="userData" type="application/json">
      <%- JSON.stringify(userinfo) %>
    </script>
  </body>
  <script src="/js/search.js"></script>
</html>
